@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: Poppins;
}
 /*header*/
 header{
    background-color: #ffffff;
    padding: 16px 0px;
    box-shadow: 0px 3px 6px #000;
    z-index: 99;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%
}
.conteiner-header{
        width: 1160px;
        display: flex;
        margin: 0 auto;
    }
    header .logo{
        width: 20%;
    }


         header .logo img{
            width: 160px;
    }
     
    header .menu{
        width: 50%;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

         .menu-principal ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 24px;
         }

         .menu-principal li a {
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            color: #000000;
            text-decoration: none;
            padding: 16px 0px;
         }
         .menu-principal li a:hover {
            border-bottom: 4px solid red;
        }
     header .buscador{
        width: 30%;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }


        .input-search{
            border: 1px solid #cfcfcf;
            padding: 8px 16px;
            outline: none;
            border-radius: 8px 0px 0px 8px;
        }
        .btn-search{
            border: 1px solid red;
            padding: 8px 16px;
            outline: none;
            border-radius: 0px 8px 8px 0px;
            background-color: red;
            color:#fff
        }
    /*banner*/
.banner{
    background-image:url(img/john-wick-4-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100px;
    width: 100%;
    font-size: 48px;
    text-align: center;
    color: #fff;
}

  h1{
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}
section.formulario{
    padding: 60px 4%;
    max-width: 500px;
    margin: 0 auto;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


form input, form textarea{
     width: 100%;
     background-color: rgba(255, 0, 0, 0.989);
     border: 0;
     outline: 0;
     padding: 20px 15px;
     border-radius: 15px;
     color: #fff;
     font-size: 18px;
     transition: 0.2s
}

form input::placeholder{
    color: #fff;
}
form textarea::placeholder{
    color: #fff;
}

form textarea{
    resize: none;
    height: 100px;
}

form .btnEnviar{
    margin-top: 30px;
    text-align: center;
    max-height: 50px;
    
   
}

form .btnEnviar input {
    width: 100px;
    height: 40px;
    background-color: darkorange;
    color:black;
    cursor:pointer;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.2s
    

}

